body {
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  position: static;
}

.app-title{
  text-align: center;
  font: 35px "Jua";
  font-weight: bold;
  margin-bottom: 2%;
  display: inline-block;
}

#corgi_title1{
  height: 75px;
  width: 75px;
}

#corgi_title2{
  height: 75px;
  width: 75px;
}

.square img{
  height: 100%;
  width: 100%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #e2e2e2;
  border: 4px solid #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  height: 150px;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  width: 100%;
}

.game-info-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font: 25px "Jua";
  text-align: center;
}

.new_game_button{
  margin-top: 2%;
  align-items: center;
  text-align: center;
  font: 18px "Jua";
  color: white;
  padding: 10px 20px;
  background-color: #95afe5;
  border-radius: 10px;

}
