body {
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  position: static;
}

.top-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-title{
  text-align: center;
  font: 5vw "Jua";
  font-weight: bold;
  margin-bottom: 2%;
  flex-shrink: 1;
}

#corgi_title1{
  height: 13%;
  width: 13%;
  flex-shrink: 2;
}

#corgi_title2{
  height: 13%;
  width: 13%;
  flex-shrink: 3;
}

.board-rows{
  display: flex;
  width: 35%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #e2e2e2;
  border: 4px solid #fff;
  /* font-size: 24px; */
  float: none;
  font-weight: bold;
  /* line-height: 24px; */
  padding: 0;
  /* text-align: center; */
  width: 33%;
}

.square img{
  width: 100%;
  height: 100%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-info-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font: 25px "Jua";
  text-align: center;
}

.new_game_button{
  margin-top: 2%;
  align-items: center;
  text-align: center;
  font: 18px "Jua";
  color: white;
  padding: 10px 20px;
  background-color: #95afe5;
  border-radius: 10px;

}
